@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.listStudent{

    
    width: 600px;
    text-align: center;
    background-color:rgb(86, 194, 86);
    border-radius: 20px;
    
}
.listStudent__ul{
    list-style: none;
}
.container-listStudent {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 100px);
}
body{
    background-image: url(../images/im2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.company-add{
    width: 100%;
    height: 100vh;    
    background-image: url(../images/im2.jpg);
}

.companyadd{
    width: 100%;
    height: 83vh;
    background-image: url(../images/im2.jpg);
    /*background-color: rgb(122, 160, 153);*/
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__todo{
    top: -100px;
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(47, 80, 189, 0.883);
    border-radius: 20px;
}

.caja__trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}


.caja__trasera div p,
.caja__trasera button{
    margin-top: 30px;
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera div p{
    font-size: 16px;
    font-weight: 300;
}

.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja__trasera button:hover{
    background: #fff;
    color: #46A2FD;
}

/*Formularios*/

.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;

    /*La transicion va despues del codigo JS*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background: rgb(255, 255, 255);
    position: absolute;
    border-radius: 20px;
}
 
.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #284280;
    font-family: "FuenteLogin";
    font-size: 30px;
}

.button__logout{
    cursor: pointer;
    /*background-color: #303e44;*/
    background-image: linear-gradient(to left,rgb(83, 81, 81) 50%,rgb(231, 10, 10) 50%);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: right;
    font-family: cursive;
    margin-top: 5px;
    margin-left: -7px;
    /*border: solid;*/
    font-size: 20px;
    transition:background-position .3s ease;
}

.button__logout:hover{
    background-position: left;
}


.contenedor__login-register form input{
    width: 100%;    
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #285caf;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}
.contenedor__login-register form button:hover{
    background: rgb(8, 28, 143);
}

.formulario__login{
    opacity: 1;
    display: block;
}

.formulario__register{
    display: none;
}

@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
    }

    .caja__trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja__trasera div{
        margin: 0px;
        position: absolute;
    }


    /*Formularios*/

    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form{
        position: relative;
    }
}

.listado{
    text-align: center;
}

.mb-4{
    font-size: 42px;
    margin-left: 2%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*Buscador*/

.box{
    position:fixed;
    top: 10%;
    right: 5%;
    margin-top: 50px;
    font-size: 42px;
    margin-left: 2%;
}

input.src{
    padding: 9px 10px 9px 32px;
    font-size: 18px;
    border-radius: 10px;
    width: 300px;
    border-color: black;
}

/*input.src:hover{
    width: 200px;
    background-color: #ffffff;
}*/

/*Icono UTN*/

.brand{
    width: 80px;
    height: 80px;
    margin-top: -10px;
    margin-right: 16px;
    background: url('../Images/utn.jpg') no-repeat;
}

.div-brand{
    top: -100;
}

/*Letras*/

.nav-link{
    font-size: 20px;
    font-family: cursive;
    padding: 12px 22px;
    display: block;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*Buscador*/

.box{
    position: absolute;
    top: 12%;
    left: 72%;
}

input.src{
    padding: 9px 10px 9px 32px;
    font-size: 18px;
    border-radius: 10px;
    width: 200px;
}

input.src:hover{
    width: 200px;
    background-color: #ffffff;
}

/*Página Principal (Cuadrado)*/

.ctn-welcome{
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 40px;
    margin: auto;
    margin-top: 120px;
    background: rgb(185, 180, 180);
    border-radius: 20px;
    border: solid;
}

.logo-welcome{
    width: 200px;
    margin: 16px;
}  

.title-welcome{
    font-weight: 400;
    font-size: 29px;
    margin-top: -10px; 
    font-family:cursive;
}



/*Submenu*/

#menu #desple{
    display: none;
    min-width: 200px;
    left: -50px;
    height: 100px;
}

#menu:hover #desple{
    display: block;
 }

 #menu #item a:hover{
    background: rgb(24, 25, 26);
}

#item:hover{
    background-color: rgba(20, 20, 20, 0.856);
}

.user{
    color: #46A2FD;
}

/*Palabras e iconos menu*/

.icon{
    font-size: 26px;
}

.nav-link{
   font-size: 19px;
}

/*Iconos del menu del administrador*/

.icon-admin{
    font-size: 24px;
}

/*Titulo de administrador*/

.tittle-admin{
    font-size: 16px;
}



#menu li {
    position: relative;
  }
  
#menu ul {
    display: none;
    background-color: rgb(34, 38, 42);
    position: absolute;
    padding: 7px;
    left: 0;
    top: 100%;
  }
  

  #menu li:hover > ul {
    display: block;
  }


@font-face {
    font-family: "FuenteLogin";
    src: url('../Fonts/Roboto-Light.ttf');
}
